<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Типы устройств SMS сервера</title>
</head>
<body>
<div th:fragment="DevTypesFormList" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">
    <link rel="stylesheet" type="text/css" th:href="@{/css/imgs/devtypes/devtypes.css}"/>
    <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;">
        <div class="icon-devtypes" style="display:table-cell;width:53px;height:53px;">
        </div>

        <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding-left:5px;">
            <span style="">Типы устройств SMS сервера</span>

        </div>

    </div>

    </div>
    <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  th:id="${prefix}+'dgDevTypes_Module_DevTypes'" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'post',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortName:'code',sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
    <tr><th data-options="title:'Ид.',field:'id',width:80,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Код',field:'code',width:230,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Наименование',field:'name',width:10000,sortable:true,resizable:true"></th>
        <th data-options="title:'Приоритет',field:'prior',width:10000,sortable:true,resizable:true"></th>
        <th data-options="title:'Автоопределение',field:'is_auto_define',width:10000,sortable:true,resizable:true"></th>
    </tr></thead>
    </table>
    </div>

    <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="display:table;width:100%;">
        <div style="display:table-cell;padding:3px;">
            <a  th:id="${prefix}+'btnAdd_Module_DevTypes'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:100,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnChange_Module_DevTypes'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:100,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnDelete_Module_DevTypes'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:100,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnUpdate_Module_DevTypes'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:100,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

            <input  th:id="${prefix}+'chkDelRec_Module_DevTypes'" data-options="with:20,height:20,checked:false,disabled:false,labelPosition:'before',labelAlign:'left'" class="easyui-checkbox"/>

            <span style="">Показать удалённые записи</span>

        </div>

    </div>

    </div>
</div>

</body>
</html>