<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="INewsFormEdit" class="easyui-window" id="wNewsFormEdit_Module_INews"  data-options="title:'Добавление новой новости',width:1024,height:633,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;height:53px;">
            <div  Id="pbEditMode_Module_Admin_UserFilterForm" class="icon-filter" style="display:table-cell;vertical-align:middle;width:55px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;">
                <div style="font-weight:bold;padding:3px;">
                    <span id="lAction_Module_INews_NewsFormEditor"  style="">Работа с новостью</span>

                </div>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div style="display:table;width:1000px;">
            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:165px;text-align:right;">
                    <span style="">Идентификатор</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txId_Module_INews_NewsFormEditor"  class="easyui-textbox" data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:165px;text-align:right;">
                    <span style="">Дата</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input id="dtDate_Module_INews_NewsFormEdit"  type="text" class="easyui-datetimebox" data-options="panelWidth:250,currentText:'Сегодня',closeText:'Закрыть',okText:'Ок',disabled:false"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:165px;text-align:right;">
                    <span style="">Заголовок</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txTitle_Module_INews_NewsFormEditor"  class="easyui-textbox" data-options="multiline:false,width:800,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:165px;text-align:right;">
                    <span style="">Краткое описание</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txDescription_Module_INews_NewsFormEditor"  class="easyui-textbox" data-options="multiline:true,width:800,height:50,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:165px;text-align:right;">
                </div>

                <div style="display:table-cell;padding:3px;">
                    <input id="cbStatus_Module_INews_NewsFormEditor" data-options="with:20,height:20,checked:false,disabled:false,label:'Опубликована',labelWidth:150,labelPosition:'after',labelAlign:'left'" class="easyui-checkbox"/>

                </div>

            </div>

        </div>

            <div  Id="divForEditor_Module_INews_NewsFormEditor" style="display:block;height:305px;">
            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;text-align:right;"><div style="display:table;width:100%;">
            <div style="display:table-cell;text-align:left;">
                <div style="display:inline-block;font-weight:bold;">
                    <span style="">Создал: </span>

                </div>

                <input  id="txCreator_Module_INews_NewsFormEditor"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:false,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                <div style="display:inline-block;font-weight:bold;">
                    <span style="">Изменил: </span>

                </div>

                <input  id="txChanger_Module_INews_NewsFormEditor"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:false,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

            </div>

            <div style="display:table-cell;height:33px;text-align:right;padding:3px;">
                <a  id="btnOk_Module_INews_NewsFormEditor"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                <a  id="btnCancel_Module_INews_NewsFormEditor"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

            </div>

        </div>

        </div>
    </div>

</div>
</body>
</html>