<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="UserEditForm" class="easyui-window" id="wUserEdit_Module_Admin"  data-options="title:'Работа с пользователями',width:744,height:475,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;height:53px;">
            <div  Id="pbEditMode_Module_Admin_UserEdit" class="icon-addmode" style="display:table-cell;vertical-align:middle;width:55px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;">
                <div style="font-weight:bold;padding:3px;">
                    <span style="">Работа с пользователями</span>

                </div>

                <div style="padding:3px;">
                    <span id="lAction_Module_Admin_UserEdit"  style="">lAction</span>

                </div>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div style="display:table;width:480px;">
            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="width:165px;text-align:right;">
                    <span style="">Идентификатор записи</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txId_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;">
                </div>

                <div style="display:table-cell;text-align:right;">
                    <span style="">Логин пользователя</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txLogin_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:540,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;">
                </div>

                <div style="display:table-cell;text-align:right;">
                    <span style="">Имя пользователя</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txName_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:540,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;">
                </div>

                <div style="display:table-cell;text-align:right;">
                    <span style="">ИНН пользователя</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txCode_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:540,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;">
                </div>

                <div style="display:table-cell;text-align:right;">
                    <span style="">Пароль</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txPassword_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:195,prompt:'',value:'',type:'password',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="password"/>

                    <div style="display:inline-block;padding-left:5px;">
                        <span style="">Подтверждение пароля</span>

                    </div>

                    <input  id="txPassword2_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:194,prompt:'',value:'',type:'password',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="password"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;">
                </div>

                <div style="display:table-cell;text-align:right;">
                    <span style="">Подразделение</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txOrganizationalUnit_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:540,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;">
                </div>

                <div style="display:table-cell;text-align:right;">
                    <span style="">E-Mail</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txEmail_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:314,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                    <div style="display:inline-block;padding-left:5px;">
                        <span style="">Состояние</span>

                    </div>

                    <select id="cbIsEnabled_Module_Admin_UserEdit"  class="easyui-combobox" data-options="height:30,width:150,panelHeight:70,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                    </select>
                </div>

            </div>

        </div>

            <div style="display:table;margin-top:5px;padding:3px;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;">
                        <span style="">Создал</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txCreator_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:285,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:true,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                    </div>

                    <div style="display:table-cell;">
                        <span style="">Создано</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txCreated_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:285,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:true,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;">
                        <span style="">Изменил</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txChanger_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:285,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                    </div>

                    <div style="display:table-cell;">
                        <span style="">Изменено</span>

                    </div>

                    <div style="padding:3px;">
                        <input  id="txChanged_Module_Admin_UserEdit"  class="easyui-textbox" data-options="multiline:false,width:285,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;text-align:right;"><div style="height:33px;text-align:right;padding:3px;">
            <a  id="btnOk_Module_Admin_UserEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

            <a  id="btnCancel_Module_Admin_UserEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

        </div>

        </div>
    </div>

</div>
</body>
</html>