<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="UserFilterForm" class="easyui-window" id="wUserFilterForm_Module_Admin"  data-options="title:'Настройки фильтра пользователей',width:634,height:392,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;height:53px;">
            <div  Id="pbEditMode_Module_Admin_UserFilterForm" class="icon-filter" style="display:table-cell;vertical-align:middle;width:55px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;">
                <div style="font-weight:bold;padding:3px;">
                    <span style="">Настройки фильтра пользователей</span>

                </div>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div style="display:table;width:480px;">
            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="width:165px;text-align:right;">
                    <span style="">Логин</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txCode_Module_Admin_UserFilterForm"  class="easyui-textbox" data-options="multiline:false,width:420,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'icon-clear',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;">
                </div>

                <div style="display:table-cell;text-align:right;">
                    <span style="">Имя пользователя</span>

                </div>

                <div style="display:table-cell;padding:3px;">
                    <input  id="txName_Module_Admin_UserFilterForm"  class="easyui-textbox" data-options="multiline:false,width:420,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'icon-clear',buttonAlign:'right'"  type="text"/>

                </div>

            </div>

        </div>

            <div style="padding:3px;padding-left:15px;">
                <a  id="btnClearFilter_Module_Admin_UserFilterForm"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:573,toggle:false,selected:false,plain:false,text:'Очистить фильтр',iconAlign:'left',size:'small'"></a>

            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;text-align:right;"><div style="height:33px;text-align:right;padding:3px;">
            <a  id="btnOk_Module_Admin_UserFilterForm"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

            <a  id="btnCancel_Module_Admin_UserFilterForm"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

        </div>

        </div>
    </div>

</div>
</body>
</html>