.icon-LogMainIconDirectory{
	background:url('LogMainIconDirectory.png') no-repeat center center;
}
.icon-LogMainIconView{
    background:url('LogMainIconView.png') no-repeat center center;							
}
.icon-LogMainIconColor{
    background:url('LogMainIconColor.png') no-repeat center center;							
}