<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Менеджер диалогов</title>
</head>
<body>
<div th:fragment="DialogsFormEdit" class="easyui-window" id="wDialogsFormEdit_Module_Dialogs"  data-options="title:'Диалоги оповещения',width:560,height:375,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;height:53px;">
            <div  Id="pbEditMode_Module_Dialogs_DialogsFormEdit" class="icon-addmode" style="display:table-cell;width:55px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;">
                <div style="padding:3px;">
                    <span id="lAction_Module_Dialogs_DialogsFormEdit"  style="">lAction</span>

                </div>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div style="display:table;">
            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:150px;text-align:right">
                    <span style="">Идентификатор</span>

                </div>

                <div style="display:table-cell;padding: 6px 0px 0px 6px;">
                    <input  id="txId_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:355,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:150px;text-align:right">
                    <span style="">Наименование</span>

                </div>

                <div  Id="toolTiptxName_Module_Dialogs_DialogsFormEdit" style="display:table-cell;padding: 6px 0px 0px 6px;">
                    <input  id="txName_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:355,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:150px;text-align:right">
                    <span style="">Продолжительность в %</span>

                </div>

                <div style="display:table-cell;padding: 6px 0px 0px 6px;">
                    <div  Id="toolTiptxPercent_Module_Dialogs_DialogsFormEdit" style="display:inline-block;">
                        <input  id="txPercent_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:50,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                    <span style="">(прослушанного голосового сообщения, не менее)</span>

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:150px;text-align:right">
                    <span style="">Наименование словаря</span>

                </div>

                <div  Id="toolTiptxVocName_Module_Dialogs_DialogsFormEdit" style="display:table-cell;padding: 6px 0px 0px 6px;">
                    <input  id="txVocName_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:322,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    <div  Id="toolTipbtnVocs_Module_Dialogs_DialogsFormEdit" style="display:inline-block;padding: 0px 0px 0px 0px;">
                        <a  id="btnVocs_Module_Dialogs_DialogsFormEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:30,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-search',iconAlign:'left',size:'small'"></a>

                    </div>

                </div>

            </div>

        </div>

            <div style="display:table;margin-top: 10px">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:25px;">
                    </div>

                    <div style="display:table-cell;width:50px;text-align: right">
                        <span style="">Создал</span>

                    </div>

                    <div style="display:table-cell;padding: 6px 0px 0px 6px;">
                        <input  id="txCreator_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:180,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                    <div style="display:table-cell;width:20px;">
                    </div>

                    <div style="display:table-cell;text-align: right">
                        <span style="">Создано</span>

                    </div>

                    <div style="display:table-cell;padding: 6px 0px 0px 6px;">
                        <input  id="txCreated_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:180,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;text-align: right">
                        <span style="">Изменил</span>

                    </div>

                    <div style="display:table-cell;padding: 6px 0px 0px 6px;">
                        <input  id="txChanger_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:180,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                    <div style="display:table-cell;width:20px;">
                    </div>

                    <div style="display:table-cell;text-align: right">
                        <span style="">Изменено</span>

                    </div>

                    <div style="display:table-cell;padding: 6px 0px 0px 6px;">
                        <input  id="txChanged_Module_Dialogs_DialogsFormEdit"  class="easyui-textbox" data-options="multiline:false,width:180,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;"><div style="height:33px;;text-align:right; padding: 3px;">
            <a  id="btnOk_Module_Dialogs_DialogsFormEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'OK',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

            <a  id="btnCancel_Module_Dialogs_DialogsFormEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

        </div>

        </div>
    </div>

</div>

</body>
</html>