<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- th:fragment="AbonListFormAbonList" -->
<body>

<div th:fragment="AbonListFormAbonList" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
    <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;height:53px;">
        <div style="display:table-row;">
            <div class="icon-listabons" style="display:table-cell;width:55px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;font-weight:bold; padding:3px;">
                <span style="">Выберите абонента</span>

            </div>

        </div>

    </div>

    </div>
    <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  id="dgAbonList_Module_AbonList" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'post',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:true,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,pagePosition:'bottom',pageNumber:1,pageSize:50,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
    <tr><th data-options="title:'Ид',field:'id',width:55,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Приор.',field:'prior',width:100,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'СНИЛС',field:'snils',width:120,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Фамилия',field:'fam',width:1000,sortable:true,resizable:true"></th>
        <th data-options="title:'Имя',field:'ima',width:1000,sortable:true,resizable:true"></th>
        <th data-options="title:'Отчество',field:'otch',width:1000,sortable:true,resizable:true"></th>
        <th data-options="title:'del',field:'del',width:25,fixed:true,hidden:true"></th>
    </tr></thead>
    </table>

    </div>
    <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;"><div style="display:table;width:100%;">
        <div style="display:table-cell;padding:3px">
            <a  id="btnFilter_Module_AbonList"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:90,toggle:false,selected:false,plain:false,text:'Фильтр',iconCls:'icon-filter',iconAlign:'left',size:'small'"></a>

            <a  id="btnUpdate_Module_AbonList"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

            <input id="cbShowDel_Module_AbonList" data-options="with:20,height:20,checked:false,disabled:false,label:'Показывать удаленные записи',labelWidth:200,labelPosition:'after',labelAlign:'left'" class="easyui-checkbox"/>

        </div>

        <div style="display:table-cell;height:33px;text-align:right; padding:3px">
            <a  id="btnOk_Module_AbonList"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'OK',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

            <a  id="btnCancel_Module_AbonList"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

        </div>

    </div>

    </div>
</div>



</body>
</html>