<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="LockTableFormList" id="wLockTable_Module_LockTable_LockTableFormList" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
    <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;">
        <div class="icon-LockTableIconDirectory" style="display:table-cell;vertical-align:middle;width:53px;height:53px;">
        </div>
        <div style="vertical-align:middle;font-weight:bold;padding-left:5px;margin-top: 18px">
            <span style="">Заблокированые записи</span>
        </div>
    </div>
    </div>
    <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  id = "dgLockTable_Module_LockTable" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'post',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
    <tr><th data-options="title:'ID',field:'id',width:80,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'ID в таблице',field:'recid',width:100,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Название таблицы',field:'tablename',width:120,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Ф.И.О',field:'username',width:10000,sortable:true,resizable:true"></th>
        <th data-options="title:'Дата блокировки',field:'date',width:160,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Время блокировки',field:'minutes',width:120,sortable:true,resizable:true,fixed:true"></th>
    </tr></thead>
    </table>

    </div>
    <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="">
        <div style="display:table;width:100%;">
            <div style="display:table-cell;padding:3px;">
                <a  id="btnUnlock_Module_LockTable"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:true,width:180,toggle:false,selected:false,plain:false,text:'Разблокировать',iconCls:'icon-lock',iconAlign:'left',size:'small'"></a>

                <a  id="btnUpdate_Module_LockTable"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

                <div style="display:inline-block;padding-left:5px;font-weight:bold;">
                    <span style="">Фильтр:</span>

                </div>

                <input  id = "txFilter_Module_LockTable"  class="easyui-textbox" data-options="multiline:false,width:150,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

            </div>

        </div>

    </div>

    </div>


</div>
</body>
</html>