<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <th:block th:include="Core/MainFragments :: headerfiles"></th:block>
    <script type="text/javascript" th:src="@{/PublicModules/Registration/Registration.js}"></script>
</head>
<body style="user-select:none;">
<div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">
<th:block th:replace="Core/MainFragments :: HeaderPage"></th:block>
<div class="easyui-window" id="wRegistrationForm_Module_Registration"  data-options="title:'Регистрация нового пользователя',width:520,height:505,collapsible:false,minimizable:false,maximizable:false,closable:false,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:false,border:true,constrain:false,noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table-row;">
            <div class="icon-addmode" style="display:table-cell;width:55px;height:53px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding-left:5px;">
                <span style="">Регистрация нового пользователя</span>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;">
            <div th:utext="${errors}" style="color:red"></div>
            <form id="fRegistration_Module_Registration" method="post" th:action="@{/Registration/addUser}">
            <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:130px">
                        <span style="">Логин</span>

                    </div>

                    <div style="padding:3px;">
                        <input  id="txLogin_Module_Registration"  class="easyui-textbox" data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="login"  type="text" th:value="${Login}"/>

                        <div style="display:inline-block;color:red;">
                            <span id="lLoginInfo_Module_Registration"  style="" th:utext="${LoginInfo}"></span>

                        </div>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;">
                        <span style="">Пароль</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txPassword_Module_Registration" class="easyui-textbox" data-options="multiline:false,prompt:'',value:'',type:'password',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="password"  type="password" th:value="${Password}"/>
                    </div>

                </div>
            </div>
                <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:135px;">
                    </div>
                    <div style="display:inline-block;color:red;" width="100%">
                        <span id="lPasswordInfo_Module_Registration"  style="" th:utext="${PasswordInfo}"></span>
                    </div>
                </div>
                </div>
                <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:130px">
                        <span style="">Подтвердить пароль</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txPassword2_Module_Registration"  class="easyui-textbox" data-options="multiline:false,prompt:'',value:'',type:'password',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="password2"  type="password" th:value="${Password2}"/>

                        <div style="display:inline-block;color:red;">
                            <span id="lPassword2Info_Module_Registration"  style="" th:utext="${Password2Info}"></span>

                        </div>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;">
                        <span style="">ИНН пользователя</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txCode_Module_Registration"  class="easyui-textbox" data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="code"  type="text" th:value="${Code}"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;">
                        <span style="">ФИО пользователя</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txName_Module_Registration"  class="easyui-textbox" data-options="multiline:false,width:320,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="name"  type="text" th:value="${UserName}"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="">
                        <span style="">Подразделение</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txOrganizationalUnit_Module_Registration"  class="easyui-textbox" data-options="multiline:false,width:320,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="organizationalUnit"  type="text" th:value="${OrganizationalUnit}"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;">
                        <span style="">E-mail</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input  id="txEmail_Module_Registration"  class="easyui-textbox" data-options="multiline:false,width:320,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="email"  type="text" th:value="${Email}"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;">
                    </div>

                    <div  Id="dCaptcha_Module_Registration" style="display:table-cell;height:45px;padding:3px;"/>
                          <img id="captcha" th:src="@{/Registration/getCaptcha}" onClick="UpdateCaptcha()" />
                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;">
                        <span style="">Значение с картинки</span>

                    </div>

                    <div style="display:table-cell;">
                        <input  id="txCaptchaValue_Module_Registration"  class="easyui-textbox" data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  name="captchaValue"  type="text"/>
                        <div style="display:inline-block;color:red;">
                            <span id="lCaptchainfo_Module_Registration"  style="" th:utext="${Captchainfo}"></span>

                        </div>
                    </div>

                </div>

            </div>
        </form>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;"><div style="padding:3px;text-align:right;">
            <a  id="btnOk_Module_Registration"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

            <a  id="btnCancel_Module_Registration"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

        </div>

        </div>
    </div>

</div>
</body>
<script th:inline="javascript">
        $( document ).ready(function() {
            Keys.InitKeys();
            contextPath = /*[[${#request.contextPath}]]*/ "";
            let form = new Registration();
            form.Init();
        });
        function UpdateCaptcha(){
            document.getElementById('captcha').src = contextPath + '/Registration/getCaptcha?rid=' + Math.random();
        }
</script>
</body>
</html>