<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<!-- th:fragment="AbonsFormService" -->
</head>
<body>

<div th:fragment="AbonsFormService" class="easyui-window" id="wAbonsFormService_Module_Abons"
     data-options="title:'Сервис',width:800,height:500,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-tip',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:70px;">
            <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">
                <div data-options="region:'center',collapsible:false,split:false,border:false,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
                     style="width:100%;height:100%;">
                    <div style="display:table;height:65px;">
                        <div style="display:table-row;">
                            <div Id="pbService_Abons_AbonsFormService" class="icon-service"
                                 style="display:table-cell;width:55px;">
                            </div>

                        </div>

                    </div>

                </div>
                <div data-options="region:'east',collapsible:false,split:false,border:false,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
                     style="width:720px;height:100%;">
                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;height:10px;">
                            </div>

                        </div>

                        <div style="display:table-row;">
                            <div style="display:table-cell;vertical-align:middle;font-weight:bold; padding:5px; ">
                                <span id="lAction_Module_Abons_AbonsFormService" style="">Изменение флага "Доступен ли на контакте абонента тоновый набор"</span>

                            </div>

                        </div>

                        <div style="display:table-row;">
                            <div style="display:table-cell;vertical-align:middle;padding:3px;">
                                <span style="">Наличие тонового набора исключает необходимость распознования речи и ведет к меньшей нагрузке оборудования</span>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:100%;">
            <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">
                <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
                     style="width:100%;height:45px;">
                    <div style="display:table;padding: 3px; ">
                        <div style="display:table-row;padding: 3px">
                            <div style="display:table-cell;width:5px;">
                            </div>

                            <div style="display:table-cell;text-align:right; padding: 3px">
                                <span style="">Группа абонентов</span>

                            </div>

                            <div Id="divGroups_Module_Abons_AbonsFormService" style="display:table-cell;padding:3px;">
                                <select id="cbGroups_Module_Abons_AbonsFormService" class="easyui-combobox"
                                        data-options="height:30,width:560,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                                </select>
                            </div>

                            <div Id="divPath_Module_Abons_AbonsFormImport" style="display:table-cell;">
                                <a id="btnAddAllGroup_Module_Abons_AbonsFormService" href="javascript:void(0)"
                                   class="easyui-linkbutton"
                                   data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-select',iconAlign:'left',size:'small'"></a>

                            </div>

                        </div>

                    </div>

                </div>
                <div data-options="region:'center',collapsible:false,split:false,title:'Городские телефоны абонентов, которым будет изменена возможность работы с тоновым набором',border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
                     style="width:100%;height:100%;">
                    <table id="dgPhoneAbons_Module_Abons_AbonsFormService" class="easyui-datagrid"
                           data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'post',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24"
                           width="100%" height="100%">
                        <thead>
                        <tr>
                            <th data-options="title:'',field:'abonid',hidden:true"></th>
                            <th data-options="title:'Абонент',field:'abon',width:10000,sortable:true,resizable:true"></th>
                            <th data-options="title:'Телефон',field:'phone',width:6000,sortable:true,resizable:true"></th>
                            <th data-options="title:'Тон',field:'is_has_dtmf',sortable:true,resizable:true,fixed:true"></th>
                            <th data-options="title:'',field:'pinid',hidden:true"></th>
                        </tr>
                        </thead>
                    </table>

                </div>
                <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
                     style="width:100%;height:20px;">
                    <div style="vertical-align:middle;">
                        <span style="">Кол-во записей:</span>

                        <span id="lblCountRec_Module_Abons_AbonsFormService" style="">0</span>

                    </div>

                </div>
            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:38px;">
            <div style="display:table;width:100%;">
                <div style="display:table-row;">
                    <div style="display:table-cell;text-align:left; padding:3px">
                        <a id="btnAdd_Module_Abons_AbonsFormService" href="javascript:void(0)" class="easyui-linkbutton"
                           data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

                        <a id="btnChange_Module_Abons_AbonsFormService" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

                        <a id="btnDelete_Module_Abons_AbonsFormService" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                        <a id="btnClear_Module_Abons_AbonsFormService" href="#" class="easyui-linkbutton"
                           data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Очистить',iconCls:'icon-clear',iconAlign:'left',size:'small'"></a>

                    </div>

                    <div style="display:table-cell;width:330px;height:33px;text-align:right; padding:3px">
                        <input id="cbTone_Module_Abons_AbonsFormService"
                               data-options="with:20,height:20,checked:false,disabled:false,label:'Тоновый набор',labelWidth:110,labelPosition:'after',labelAlign:'left'"
                               class="easyui-checkbox"/>

                        <a id="btnInstall_Module_Abons_AbonsFormService" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Установить',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                        <a id="btnClose_Module_Abons_AbonsFormService" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Закрыть',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>


</body>
</html>