<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- th:fragment="AbonsFormFilter" -->
<body>

<div th:fragment="AbonsFormFilter" class="easyui-window" id="wAbonsFormFilter_Module_Abons"
     data-options="title:'Фильтр',width:614,height:380,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:true,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-filter',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:55px;">
            <div style="display:table;height:53px;">
                <div style="display:table-row;">
                    <div class="icon-filter" style="display:table-cell;width:55px;">
                    </div>

                    <div style="display:table-cell;vertical-align:middle;font-weight:bold; padding: 3px">
                        <span style="">Укажите условия отображения списка абонентов</span>

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:100%;">
            <div style="display:table;padding:3px;">
                <div style="display:table-row;height:20px;">
                </div>

                <div style="display:table-row;height:40px;">
                    <div style="display:table-cell;width:25px;">
                    </div>

                    <div style="display:table-cell;padding: 3px; text-align: right">
                        <span style="">Часть СНИЛС</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txSnils_Module_Abons_AbonsFormFilter" class="easyui-textbox"
                               data-options="multiline:false,width:400,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                               type="text"/>

                    </div>

                    <div style="display:table-cell;padding: 3px">
                        <a id="btnClearSnils_Module_Abons_AbonsFormFilter" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-clear',iconAlign:'left',size:'small'"></a>

                    </div>

                </div>

                <div style="display:table-row;height:40px;">
                    <div style="display:table-cell;">
                    </div>

                    <div style="display:table-cell;padding:3px; text-align: right">
                        <span style="">Часть фамилии</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txSurname_Module_Abons_AbonsFormFilter" class="easyui-textbox"
                               data-options="multiline:false,width:400,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                               type="text"/>

                    </div>

                    <div style="display:table-cell;padding: 3px">
                        <a id="btnClearSurname_Module_Abons_AbonsFormFilter" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-clear',iconAlign:'left',size:'small'"></a>

                    </div>

                </div>

                <div style="display:table-row;height:40px;">
                    <div style="display:table-cell;width:25px;">
                    </div>

                    <div style="display:table-cell;padding:3px; text-align:right">
                        <span style="">Часть имени</span>

                    </div>

                    <div style="display:table-cell;padding: 3px">
                        <input id="txName_Module_Abons_AbonsFormFilter" class="easyui-textbox"
                               data-options="multiline:false,width:400,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                               type="text"/>

                    </div>

                    <div style="display:table-cell;padding: 3px">
                        <a id="btnClearName_Module_Abons_AbonsFormFilter" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-clear',iconAlign:'left',size:'small'"></a>

                    </div>

                </div>

                <div style="display:table-row;height:40px;">
                    <div style="display:table-cell;width:25px;">
                    </div>

                    <div style="display:table-cell;padding:3px; text-align:right">
                        <span style="">Часть отчества</span>

                    </div>

                    <div style="display:table-cell;padding:3px">
                        <input id="txOname_Module_Abons_AbonsFormFilter" class="easyui-textbox"
                               data-options="multiline:false,width:400,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                               type="text"/>

                    </div>

                    <div style="display:table-cell;padding: 3px">
                        <a id="btnClearOname_Module_Abons_AbonsFormFilter" href="javascript: void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-clear',iconAlign:'left',size:'small'"></a>

                    </div>

                </div>

                <div style="display:table-row;height:40px;">
                    <div style="display:table-cell;width:25px;">
                    </div>

                    <div style="display:table-cell;padding:3px; text-align:right">
                        <span style="">Приоритет</span>

                    </div>

                    <div style="display:table-cell;padding: 3px">
                        <input id="txPriority_Module_Abons_AbonsFormFilter" class="easyui-textbox"
                               data-options="multiline:false,width:80,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                               type="text"/>

                        <a id="btnPriority_Module_Abons_AbonsFormFilter" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:false,toggle:false,selected:false,plain:false,text:'<-пустой',iconAlign:'left',size:'small'"></a>

                    </div>

                    <div style="display:table-cell;padding: 3px">
                        <a id="btnClearPriority_Module_Abons_AbonsFormFilter" href="javascript:void(0)"
                           class="easyui-linkbutton"
                           data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-clear',iconAlign:'left',size:'small'"></a>

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:38px;">
            <div style="display:table;width:100%;">
                <div style="display:table-cell;padding:3px;">
                    <a id="btnClearAll_Module_Abons_AbonsFormFilter" href="#" class="easyui-linkbutton"
                       data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Очистить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                </div>

                <div style="display:table-cell;width:180px;height:33px;padding:3px;text-align:right;">
                    <a id="btnOk_Module_Abons_AbonsFormFilter" href="javascript:void(0)" class="easyui-linkbutton"
                       data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                    <a id="btnCancel_Module_Abons_AbonsFormFilter" href="javascript:void(0)" class="easyui-linkbutton"
                       data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

                </div>

            </div>

        </div>
    </div>

</div>


</body>
</html>