<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- -->
  <meta name="_csrf" th:content="${_csrf.token}"/>                                          <!--защита                            -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>                              <!--защита                            -->
  <title>Монитор хода оповещения абонентов</title>
  <th:block th:insert="Core/MainFragments :: headerfiles"></th:block>                       <!—стили                              -->
  <script type="text/javascript" th:src="@{/Modules/Core/LockService.js}"></script>         <!--скрипты  блокировки записи INews  -->
  <style type="text/css">                                                                 //  <!-- стили датагрид, что конкретно?   -->
  .datagrid-row-over td{                                                              //  <!-- Раскрашивает запись, на которую наведен -->
  background: #eaf2ff;                                                            //  <!—-  курсор в светло серый фон  -->
  }
  .datagrid-row-selected td{
    background: #ffe48d;                                                            // <!—Цвет фона выделенных записей Светло желтый -->
  }
  </style>
</head>
<body style="user-select:none;">                                                                 <!--запрет выделения  -->
<div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">              <!-- главный div          -->
  <th:block th:insert="Core/MainFragments :: HeaderPage"></th:block>                           <!--заголовок             -->
  <th:block th:insert="Core/MainFragments :: MenuPage(SideMenuSelectedId='GoView')"></th:block> <!-- меню                 -->
  <div id="rGoView_Module_GoView" data-options="region:'center',title:'Монитор хода выполнения оповещений'"> <!-- раб.слой                -->
  </div>                                                              <!-- в рабочий слой вставляется HTML код из CreatorUI -->
  <div id="ModalWindows"></div>                                                                <!—конец рабочего слоя       -->
</div>
<script type="module" th:inline="javascript">                                                   // <!—- Вызов рабочего модуля   -->
import {StartNestedModule} from "../Modules/GoView/GoViewList.js";                                // <!—- Импорт функции запуска  -->

$(document).ready(function(){
  contextPath = /*[[${#request.contextPath}]]*/ "";                                       //  <!—- Глобальная переменная  -->
  StartNestedModule("rGoView_Module_GoView");                                               //  <!—- Вызов стартовой функции основного скрипта модуля -->
});
</script>
</body>
</html>
