<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<div th:fragment="NotesForm" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
    <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;padding:5px;"><div class="icon-notesico" style="display:table-cell;width:43px;height:43px;">
    </div>

        <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding:3px;">
            <span style="">Менеджер заданий на оповещение</span>

        </div>

    </div>
    <div data-options="region:'center',collapsible:false,split:false,border:false,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
        <div data-options="region:'north',collapsible:false,split:true,title:'Шаблоны на оповещения',border:false,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:50%;"><div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
            <div data-options="region:'center',collapsible:false,split:false,border:false,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  th:id="${prefix}+'dgPattern_Notes_Module_Notes'" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'post',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:false,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
            <tr><th data-options="title:'Ид',field:'id',width:120,sortable:true,resizable:true,fixed:true"></th>
                <th data-options="title:'Наименование',field:'name',width:10000,sortable:true,resizable:true,fixed:false"></th>
                <th data-options="title:'Все',field:'allFlag',width:100,sortable:true,resizable:true,fixed:true"></th>
                <th data-options="title:'del',field:'del',hidden:true"></th>
            </tr></thead>
            </table>

            </div>
            <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="display:table;width:100%;">
                <div style="display:table-cell;padding: 3px;">
                    <a  th:id="${prefix}+'btnPatternAdd_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnPatternChange_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnPatternDel_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnPatternReload_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

                    <input  th:id="${prefix}+'chbPatternDel_Notes_Module_Notes'" data-options="with:20,height:20,checked:false,disabled:false,label:'Удаленные',labelPosition:'after',labelAlign:'left'" class="easyui-checkbox"/>

                </div>

                <div style="display:table-cell;width:230px;padding: 3px;text-align:right;">
                    <form  th:id="${prefix}+'radioForml_Notes_Module_Notes'"  action="" >
                        <input type="radio" th:id="${prefix}+'rbPattern_Notes_Module_Notes'" data-options="with:20,height:20,checked:true,disabled:false,label:'Шаблоны',labelPosition:'after',labelAlign:'left'" class="easyui-radiobutton" name="mode" />
                        <input type="radio" th:id="${prefix}+'rbNote_Notes_Module_Notes'" data-options="with:20,height:20,checked:false,disabled:false,label:'Задания',labelPosition:'after',labelAlign:'left'" class="easyui-radiobutton" name="mode" />
                    </form>

                </div>

            </div>

            </div>
        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,title:'Задания на оповещение',border:false,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
            <div data-options="region:'center',collapsible:false,split:false,border:false,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  th:id="${prefix}+'dgNote_Notes_Module_Notes'" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'post',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:false,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
            <tr><th data-options="title:'Ид',field:'id',width:120,sortable:true,resizable:true,fixed:true"></th>
                <th data-options="title:'Дата создания',field:'date',width:130,sortable:true,resizable:true,fixed:true"></th>
                <th data-options="title:'Наименование',field:'name',width:15000,sortable:true,resizable:true,fixed:false"></th>
                <th data-options="title:'Общий диалог',field:'dlgAll',width:10000,sortable:true,resizable:true,fixed:false"></th>
                <th data-options="title:'Статус',field:'sttsName',width:100,sortable:true,resizable:true,fixed:true"></th>
                <th data-options="title:'sttsCode',field:'sttsCode',hidden:true"></th>
            </tr></thead>
            </table>

            </div>
            <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="display:table;width:100%;">
                <div style="display:table-cell;padding: 3px;">
                    <a  th:id="${prefix}+'btnNoteAdd_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnNoteChange_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnNoteDel_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnNoteReload_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnNoteFilter_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Фитльтр',iconCls:'icon-filter',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnNoteRun_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'&nbsp;&nbsp;&nbsp;Пуск&nbsp;&nbsp;&nbsp;',iconCls:'icon-run',iconAlign:'left',size:'small'"></a>

                    <div  th:id="${prefix}+'blockLoader_Notes_Module_Notes'" style="display:inline;vertical-align:middle;padding:3px;">
                        <div class="panel-loading" style="display:inline;">
                        </div>

                        <div style="display:inline;">
                            <span th:id="${prefix}+'lbLoader_Notes_Module_Notes'"  style="">Ожидайте...</span>

                        </div>

                    </div>

                </div>

                <div style="display:table-cell;width:180px;padding: 3px;text-align:right;">
                    <a  th:id="${prefix}+'btnOk_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'OK',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                    <a  th:id="${prefix}+'btnNoteCancel_Notes_Module_Notes'"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

                </div>

            </div>

            </div>
        </div>

        </div>
    </div>

    </div>
</div>
</body>
</html>